{% extends "base.html" %}
{% load static %}

	{% block title%} home {% endblock %}

	{% block nav %}
		<a href="/home">Home</a> | Search | Schools | <a href='/profile'>Edit Profile</a> | <a href='/schedule'>Schedule</a> | <a href="/logout"="_blank">Logout</a>
	{% endblock %}

	{% block article %}

    <h1> Remove Class </h1>
	<form action="/editschedule/removeClass/" method="post" onsubmit="return validateRemove();">  
	  <select name="scheduleItem" id="scheduleItem">
    <option selected="selected" disabled>Choose Class:</option>
	 {% for sItem in scheduleItems%}
        <option value="{{sItem}}">{{sItem}}</option>
    {% endfor %}		
    </select>
    {% csrf_token %}
	<input type="submit" value="Remove">
	</form>
	
	<h2> Add Class </h2>
	
	<form action="/editschedule/addClass/" method="post" onsubmit="return validateAdd();">
	<select name="sectionItem" id="sectionItem">
	<option selected="selected" disabled>Choose Class:</option>
    {% for sItem in sectionNumbers%}
            <option value="{{sItem}}">{{sItem}}</option>
    {% endfor %}	
    </select>
    {% csrf_token %}
	<input type="submit" value="Add">
	</form>

    <script>
        function validateRemove() {
            if (document.getElementById("scheduleItem").selectedIndex == 0) {
                alert("Please choose a class to remove");
                return false;
            } else {
                return true;
            }
        }

        function validateAdd() {
            if (document.getElementById("sectionItem").selectedIndex == 0) {
                alert("Please choose a class to add");
                return false;
            } else {
                return true;
            }
        }
    </script>

	{% endblock %}

	{% block aside %}
	{% endblock %}
