{% extends "base.html" %}
{% load static %}

	{% block title%} home {% endblock %}

	{% block nav %}
		<a href="/home">Home</a> | Search | Schools | <a href='/profile'>Edit Profile</a> | <a href='/schedule'>Schedule</a> | <a href="/logout"="_blank">Logout</a>
	{% endblock %}
	
	{% block edSched %}
	    <a href="/editschedule">Edit Schedule</a>
	{% endblock %}	
	
	{% block article %}
		<h1>{{full_name}}'s Schedule<h1/><br><br>

		<p> My classes </p>
		
	{% endblock %}

	{% block aside %}
	{% endblock %}
