{% extends "base.html" %}
{% load static %}

	{% block title%} home {% endblock %}

	{% block article %}
		<h1 id="headerHome">{{full_name}}'s Home Page</h1><br>
		{% for i in test %}
			{{i}}
		{% endfor %}	

		<h2 id="h2SReq">Study Requests</h2>
		{% for request in requestList %}
		<div id="request">
			<div id="Username">{{request.requesterUserID}}</div> 
			
			<div id="requestButtons">
				<div class="AcceptButton"> 
				<form action="/acceptRequest/" method="POST">{%csrf_token%}
					<input type="hidden" name="requesterUserID" value="{{request.requesterUserID}}"/>
					<input type="hidden" name="courseID" value="{{request.courseID}}"/>
					<input type="submit" name="Accept" value="Accept"/>
				</form>
				</div>
				<div class="RejectButton">
				<form action="/rejectRequest/" method="POST">{%csrf_token%}
					<input type="hidden" name="requesterUserID" value="{{request.requesterUserID}}"/>
					<input type="hidden" name="courseID" value="{{request.courseID}}"/>
					<input type="submit" name="Reject" value="Reject"/>
				</form>
				</div>
			</div>

			<div id="CourseID">{{request.courseID}}</div> 
			
		</div>
		{% endfor %}
	{% endblock %}

	{% block aside %}
		<div id="buddies">
		<dl>StudyBuddies
			{% for i in friends %}
				<br/><a href="/viewProfile?userID={{i.requesteeUserID}}">{{i.requesteeUserID}}</a>
			{% endfor %}
		</dl>
		</div>
	{% endblock %}
