{% extends "base.html" %}

{% block title%} profile {% endblock %}

{% block aside %}
<a href="/editprofile">Edit Profile</a>
{% endblock %}

{% block article %}
	<h1> <font color=orange>Profile</font> </h1>
	<div><font color=blue>Email: {{email}}</font>  </div>
	<br>
	<div><font color=blue>Phone number: {{phone}}</font>  </div>
	<br>
	<div><font color=blue>School: {{schoolname}}</font>  </div>
	<br>
	<div><font color=blue>Year: {{year}}</font>  </div>
	<br>
	<div><font color=blue>About me: {{aboutme}}</font>  </div>
{% endblock %}
