{% extends "friends.html" %}


{% block title%} profile {% endblock %}



{% block article %}
<div class="editLinks" id="editProfileLink">
<a href="/editprofile">Edit Profile</a>
</div>
	<div class="header" id="profileHeader">
	Profile
	</div>
	<div class="profileItem" id="profileEmail">
	Email: {{email}}
	</div>
	<div class="profileItem" id="profilePhone">
	Phone number: {{phone}}
	</div>
	<div class="profileItem" id="profileSchool">
	School: {{schoolname}}
	</div>
	<div class="profileItem" id="profileYear">
	Year: {{year}}
	</div>
	<div class="profileItem" id="profileAbout">
	About me: {{aboutme}}
	</div>
{% endblock %}
