{% extends "base.html" %}


	{% block title%} {{ welcome }} {% endblock %}

	{% block banner %}
		<img id="logo" src="">
		<h1>Welcome to StudyBuddy!<h1/>
		<br/>
	{% endblock %}
	
	{% block nav %}
		<a href=#home target="_blank">Home</a> | Search | Schools
	{% endblock %}
	
	{% block article %}
		<br/>
		<h2>Need a study buddy?<h2/>
			<p id = "Intro"/>
			Some stuff what study study can do for you
				
			ac turpis egestas. Integer bibendum tincidunt tempus. Donec dictum, ante id consequat placerat, dolor risus rutrum dui, non facilisis eros mauris et metus. Nullam eros tortor, tempus ac sapien quis, posuere interdum orci. Aliquam a augueu. Mauris condimentum augue nec erat laoreet pharetra. Phasellus lobortis orci non lorem fringilla, eget scelerisque diam condimentum.
	{% endblock %}

	{% block aside %}
		<h2>New to StudyBuddy?<h2/>
		<input id="userName" value="email"/>
		<input id="password" value="password"/>
		<img id="register" src="">
		<img id="signin" src="">
		<br/>
		<a href=#home>Forgot your password?</a><br/>
			
			Lorem ipsum quet tortor. In sem sapien, fermentum nec ultrices at, accumsan ut orci. Curabitur eu ligula vitae erat adipiscing scelerisque. Sed vitae imperdiet magna. Sed ut ornare urna. Aenean in vehicula nisl, feugiat tempor dui.
			
		<a href="mailto:someone@ufl.edu"><img src="email.png" alt="email us at"/></a>
	{% endblock %}
</html>
</body>
