{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> {% block title %} My Base Template {% endblock %}
	</title>

 <link rel="stylesheet" type="text/css" href="{% static "assets/css/study.css" %}">
</head>
<body>	
	{% block banner %}
	<div id="headerholder">
        <div id="titleheader"></div>
        <div id="logodiv"></div>
    </div>
	{% endblock %}
	<div id="navbeg"></div>
	<nav>
	{% block nav %}
	{% endblock %}
	</nav>
	<div id="navend"></div>


	<aside>
		{% block aside %}
		{% endblock %}
	</aside>
	<article>
		{% block article%}This is the content
		{% endblock %}
	</article>

	<footer>
	{% block footer %}
		Copyright DungeonTech <br/>
		<a href="/admin/">Admin</a><br/>
		<a href="mailto:someone@ufl.edu"><img src="{% static "assets/img/email.png" %}" alt="email us at"/></a>
	{% endblock %}
	</footer>
	
</body>
</html>
