{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> {% block title %} My Base Template {% endblock %}
	</title>

<link href='http://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static "assets/css/study.css" %}">
<script type="text/javascript" src="{% static "assets/js/script.js" %}"></script>
</head>
<body>	
	
	<div id="headerholder">
		{% block banner %}{% endblock %}
        	<div id="titleheader"></div>
        	<div id="logodiv"></div>
   	</div>
	
	<div id="navbeg"></div>
	<nav>
		{% block nav %}{% endblock %}
	</nav>
	<div id="navend"></div>
	<div id="bodywrapper">
	<div id="edsched">
		{% block edSched %}{% endblock %}
	</div>
	<aside>
		{% block aside %}{% endblock %}
	</aside>
	<article>
	{% block article%}{% endblock %}
	</article>
	</div>
	<footer>
	{% block footer %}
		Copyright DungeonTech <br/>
		<a href="/admin/">Admin</a><br/>
		<a href="mailto:someone@ufl.edu"><img src="{% static 			"assets/img/email.png" %}" alt="email us at"/></a>
	{% endblock %}
	</footer>
</body>
</html>
