body{
	background-image:url('../img/blueg-c.png');
	background-repeat:repeat-x;
	font-family:Tahoma;
	float:left;
	width:100%;
	margin:0px;
	height: 100%;
	}

header{
	width:100%;
	color:0xFF222211;
}
#headerholder{ 
	margin:0px;
	width:100%;
	height:90px;
	background-color: transparent; 
}

#titleheader{
	background-color:transparent; 
	background-image:url('../img/studybuddy.png');
	background-repeat:no-repeat;
	
	margin:0px;	
	float:center;
	width:100%;
	height:100%;
	background-position:center;
	
}
header h1{ /*Welcome to StudyBuddy!*/
	float:left;
	/*top rt bot lf*/
	margin:40px auto 0 110px;
	/* font-size:270%; */
}
nav{
	height:30px;
	padding-top:10px;
	padding-left:5px;
	display:inline-block;
	margin:0px 0px 30px 0px;
	background-image:url('../img/bluebutton.png');
	width:100%;
	height:30px;
	box-shadow: 0px 3px 6px 6px #888888;
	float:left;
}
/*
#edsched{
   	float:left;
	margin-left:10px;
    	width:100%;
	height:20px;
}
*/
nav a{
	font-family: 'Freckle Face', cursive;
	font-weight:bold;
	font-size:16px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	/*text-shadow: 4px 4px 4px black;*/
	margin:0px 3px 0px 3px;
	height:30px;
	color:#FF8330;
	/*color:#FF8330;*/
	text-decoration:none;
}
nav a:hover{
color:orange;
}
/*dont give these height so that they will move with the page*/

article{
	background-color:#ECF8FF; 
	padding:25px;
	margin:0px 30px 0px 200px;
	overflow:auto; 
	box-shadow: 4px 4px 6px 6px #888888;
	border-radius: 15px;
}
article img{
	/**/
}
article p{
	float:center;
	font-size:20px;
}
article form{
	list-style: none;
}
aside{
	float:left;
	width:170px;
	margin-left:10px;
	padding-left:10px;
	padding-right:10px;
	/*box-shadow: 2px 2px 2px 2px #888888;*/
}
aside p{
	float:center;
	margin:0 auto 0 auto;
}
aside img{
	/* */
}
aside form #button{
	float:center;
	margin:5px 0px 0px 0px;
	width:150px;
	height:45px; 
}
/* Should change this to class textfield */
#username, #password{
	width:150px;
}

footer{
	/*allows wrapper's back to extend to bottom of page*/
	clear:both;
	width:100%;
	height:100px;
	padding:0 15px 0 15px;
	text-align: center; 
	margin: 7% 0 0 0;
}

/***Typography***/
h1, h2, h3, h4, h5, h6 {
	font-family:Georigia, "Times New Roman", Times,serif;
	font-weight:lighter;
}
h1{
	color:rgb(48,69,69);
}
h2{
	color:rgb(51,81,81);
}
header h1{
	color:rgb(255,69,0);
	font-size:55px;
}

ul li label,.helptext{
	display:block;
	float:left;
	width:100%;
	margin:0px;
	}
ul {
	list-style-image:none;
	list-style:none;
}

.helptext{
	color:#803300;
	margin-bottom:10px;
	font-size:14px;

}

.about_me{
	resize: none;
	vertical-align: top;
}
#schedule{
overflow:auto; 
width:660px;

}
#lecture{
margin-top:10px;

}
.schname{
width:100%;
text-align:center;
float:center;

}
#lecture, #semester, #section, #coursename{
width:100%;
float:left;
}
.day, #else{
margin:1px;
padding:0px 5px 0px 5px;
width:80px;
margin:0px;
float:left;
border-style:outset;
border-width:1px;
box-shadow: 1px 1px 1px 1px #888888; 
}
.day{
background-color:#FF9933;
}
#else{
background-color:#F0FAFF;
}

