body{
	font-family:Tahoma;
	background-color:0x111E26;
	background:-webkit-gradient(linear, left top, left bottom, from(#EEE), to(#009));
}
#wrapper{
	/*top left/right bot*/
	/*or 0 15% 0*/
	width:970px;
	margin:0 auto 0; 
	position:relative;
}
header{
	float:left;
	width:970px;
	height:140px;
	color:0xFF222211;
}
header h1{ /*Welcome to StudyBuddy!*/
	float:left;
	/*top rt bot lf*/
	margin:40px auto 0 110px;
	/* font-size:270%; */
}
header img{
	float:right;
	width:150px;
	height:150px;
	margin-top:10px;
	margin-right: 100px;
}
nav{
	float:left;
	width:970px;
	height:40px;
}
nav a{
	color:#F33;
	text-decoration:none;
}
nav a:hover{
	color:#09F;
	text-decoration:underline;
}
/*dont give these height so that they will move with the page*/
article{
	float:right;
	width:600px;

	padding:15px 15px 15px 15px;
}
article img{
	float:right;
	width:600px;
	height:120px;
}
article p{
	float:left;
	width:600px;
	font-size:20px;
}
aside{
	float:left;
	width:325px;
	margin-left:15px;
}
aside img{
	float:center;
	margin:0 auto 0;
	width:300px;
	height:120px
}
aside input{
	float:center;
	margin:0 auto 0;
}
#footer{
	/*allows wrapper's back to extend to bottom of page*/
	clear:both;
	width:940px;
	height:100px;
	padding:0 15px 0 15px;
}

/***Typography***/
h1, h2, h3, h4, h5, h6 {
	font-family:Georigia, "Times New Roman", Times,serif;
	font-weight:lighter;
}
h1{
	color:rgb(48,69,69);
}
h2{
	color:rgb(51,81,81);
}
header h1{
	color:rgb(255,69,0);
	font-size:55px;
}


