{% extends "base.html" %}
{% load static %}

	{% block title%} StudyBuddies {% endblock %}

	
	
	{% block article %}
			{% for e in test %}
				{{ e }}

			{% endfor %}

			<table id="table" border="0">
			<tr>
			<th>Class</th>
			<th>Username</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Status</th>
			</tr>
			{% for list in resultsList %}
			<tr id="results" onclick= {% for object in list %}  {%if forloop.counter == 3 %} {% if object == "1" %} "select()" onmouseover="" style="cursor: pointer;" {% endif %}{% endif %}{% endfor %}>
				{% for data in list %}

				{% if forloop.counter == 3 and data == "1" %}
				<td>
					Available
				</td>
				{% elif forloop.counter == 3 and data == "2" %}
				<td>
					Pending
				</td>
				{% elif forloop.counter == 2 %}
				<td>
					{{ data }}
				</td>
				<td>
					{{ data.user.first_name}} 
				</td>
				<td>					
					{{data.user.last_name }}
				</td> 			
				{% elif forloop.counter != 4 %}
				<td>
					{{ data }}
				</td>
				{% endif %}
				{% endfor %}
			</tr>
 			{% endfor %}
			</table>

			<form action="/emailResults/" method="POST">
				{% csrf_token %}
				<select name = 'class[]' id = 'class' multiple style = 'visibility:hidden;'>
					{% for e in resultsList %}
						{% for f in e %}
							{% if forloop.counter == 4 %}
								<option id='{{f}}'>{{f}}</option>
							{% endif %}
						{% endfor %} 
					{% endfor %}
				</select>
				<br/>
				<input type="submit" name="Send StudyBuddy Requests" value="Send StudyBuddy Requests"/>
			</form>
		<script>
			// Unselect all items in "class" select list
			for(var i = 0; i < document.getElementById("class").options.length; i++) {
				document.getElementById("class").options[i].selected = false;
			}

			// Selects & highlights items in "class" select list
			function select() 
			{
				var table = document.getElementById('table')
				/*div.onclick=
				function () 
				{

					if(!this.highlight)
					{
						this.origColor=this.style.backgroundColor;
						this.style.backgroundColor='#0000FF';
						this.highlight=true;
					}
					else
					{
						this.style.backgroundColor=this.origColor;
						this.highlight=false;
					}
				}*/
				for (var i=0; i<table.rows.length; i++)
				{
					table.rows[i].onclick=
					function () 
					{
						// Highlights and selects 
						if(!this.highlight)
						{
							var element = document.getElementById((this.cells[0].innerHTML.trim()+' '+this.cells[1].innerHTML.trim()));
							element.selected = true;
							this.origColor=this.style.backgroundColor;
							this.style.backgroundColor='#FF8330';
							this.style.color='#0000FF';
							this.highlight=true;
						}
						// Unhighlight and unselect
						else
						{
							var element = document.getElementById((this.cells[0].innerHTML.trim()+' '+this.cells[1].innerHTML.trim()));
							element.selected = false;
							this.style.backgroundColor=this.origColor;
							this.style.color=this.origColor;
							this.highlight=false;
						}
					}
				}
			}
		</script>
		
	{% endblock %}

	{% block aside %}
	{% endblock %}

