{% extends "base.html" %}
{% load static %}

	{% block title%} Search StudyBuddies {% endblock %}

	{% block nav %}
	
	<a href="/home">Home</a>|
	<a href="">Search</a>|
	<a href" ">Schools</a>|
	<a href='/profile'>Edit Profile</a>|
	<a href='/schedule'>Schedule</a>|	
	<a href="/logout"="_blank">Logout</a>
	
	{% endblock %}
	
	
	{% block article %}


		<form method="get" action="/doSearch/"> 
		<ul><li>
		<input type="radio" name="searchtype" value ="course">Search By Course</input>
		</li>
		<li>
		<input type="radio" name ="searchtype" value ="name">Search By Name</input>
		</li>
		<li> 
		<label for="Class">Class:</label>
		<select name="Class">
			{% for course in list %}
			<option value="{{ course.courseID }}">{{ course.courseID }}</option>
			{% endfor %}
			</select>
		</li>
		<li>
		<label for="FirstName">First Name:</label>
		</li>
		<li>
		<input type="text" name="FirstName"></input>
		</li>
		<label for="LastName">Last Name:</label>
		</li>
		<li>
		<input type="text" name="LastName"></input>
		</li>
		<li>
		<input type="submit" name="Search" value = "Search"></input>
		</li>
		</ul>
		</form>
		
	{% endblock %}

	{% block aside %}
	{% endblock %}
