{% extends "friends.html" %}
{% load static %}

	{% block title%} Search Friends {% endblock %}

	

	{% block article %}

	<div class="header" id="searchBuddies">Find Study Buddies</div>
	<div id="searchForm">
	<form name="buddySearch" method="post" action="/doSearch/"> {% csrf_token %} 
		<div class="radioButton" id="searchRadioCourse">
		<input type="radio" name="searchtype" id="course" value ="course" onclick='hide("course")'>Search By Course</input>
		</div>
		<div class="radioButton" id="searchRadioName">
		<input type="radio" name ="searchtype" value ="name" onclick='hide("name")'>Search By Name</input>
		</div>

		<fieldset id="fahr">
		<h3>Select a course:</h3>
			<div class="selects" id="searchCourseId">
			<select name="Class">
			{% for course in list %}
				<option value="{{ course.courseID }}">{{ course.courseID }}</option>
			{% endfor %}
			</select>
			<input type="checkbox" name = "hourMatch" value = "true"/>
			</div>
		</fieldset>
		
		<fieldset id="cel">
		<h3>Enter a buddy's name</h3>
			<ul>
			<li>
			<label for="FirstName">First Name:</label>
			</li>
			<li>
			<input name="FirstName"></input>
			</li>
			<label for="LastName">Last Name:</label>
			</li>
			<li>
			<input name="LastName"></input>
			</li>
		</fieldset>
		
		<li>
		<input type="submit" name="Search" value = "Search" class="buttons"/>
		</li>
		</ul>
	</form>
	</div>
    <script>
        document.getElementById("course").click();
    </script>
				
		
		<div id="test"></div>
		
	{% endblock %}

