{% extends "friends.html" %}
{% load static %}

	{% block title%} StudyBuddies {% endblock %}

	
	
	{% block article %}
			{% for e in test %}
				{{ e }}

			{% endfor %}
			<div id="resultTable">
			<table id="table" cellspacing="0">
			<tr>
			<th>Class</th>
			<th>Username</th>
			<th>Name</th>
			<th>Status</th>
			</tr>
			<div id="pagination"></div>
			{% for list in resultsList %}
			<tr id="results" onclick= {% for object in list %}  {% if forloop.counter == 3 %} {% if object == "1" or object == "3" %} "select()" onmouseover="" style="cursor: pointer;" {% endif %}{% endif %}{% endfor %}>
				{% for data in list %}

				{% if forloop.counter == 3 and data == "1" %}
				<td>
					Available
				</td>
				{% elif forloop.counter == 3 and data == "2" %}
				<td>
					Pending
				</td>
				{% elif forloop.counter == 3 and data == "3" %}
				<td>
					Rejected
				</td>
				{% elif forloop.counter == 2 %}
				<td>
					{{ data }}
				</td>
				<td>
					{{data.user.last_name }},&nbsp;{{ data.user.first_name}} 				
				</td> 			
				{% elif forloop.counter != 4 %}
				<td>
					{{ data }}
				</td>
				{% endif %}
				{% endfor %}
			</tr>
 			{% endfor %}
			</table>
			</div>
			<form action= "/emailResults/" method="POST">
				{% csrf_token %}
				<select name = 'class[]' id = 'class' multiple style = 'visibility:hidden;'>
					{% for e in resultsList %}
						{% for f in e %}
							{% if forloop.counter == 4 %}
								<option id='{{f}}'>{{f}}</option>
							{% endif %}
						{% endfor %} 
					{% endfor %}
				</select>
				<br/>
				<input type= "submit" id="button" name="Send StudyBuddy Requests" value="Send StudyBuddy Requests" />
			</form>
			
		<script>
			window.onload = init;

			function init() {

				if (!document.getElementById) return;

				var submitB = document.getElementById('button');
				submitB.disabled = true;

			}

			// Unselect all items in "class" select list
			for(var i = 0; i < document.getElementById("class").options.length; i++) 
			{
				document.getElementById("class").options[i].selected = false;
			}

			// Selects & highlights items in "class" select list
			function select() 
			{
				var table = document.getElementById('table')
				
				var submitB = document.getElementById('button');
				var count = 0;

				for (var i=0; i<table.rows.length; i++)
				{
					table.rows[i].onclick=
					function () 
					{
						// Highlights and selects 
						if(!this.highlight)
						{
							var element = document.getElementById((this.cells[0].innerHTML.trim()+' '+this.cells[1].innerHTML.trim()));
							element.selected = true;
							this.origColor=this.style.backgroundColor;
							this.style.backgroundColor='#FFA366';
							this.style.color='#0000FF';
							this.highlight=true;
							count++;
						}
						// Unhighlight and unselect
						else
						{
							var element = document.getElementById((this.cells[0].innerHTML.trim()+' '+this.cells[1].innerHTML.trim()));
							element.selected = false;
							this.style.backgroundColor=this.origColor;
							this.style.color=this.origColor;
							this.highlight=false;
							count--;
						}
						if(count != 0)
						{
							submitB.disabled=false;
						}
						else
						{
							submitB.disabled=true;	
						}
					}
				}
			}
		</script>
		
	{% endblock %}


