{% extends "base.html" %}
{% load static %}

	{% block title%} {{ welcome }} {% endblock %}
	
	{% block nav %}
		
	{% endblock %}
	
	{% block article %}
		<br/>
		<h2>Need a study buddy?<h2/>
			<p id = "Intro"/>
			STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO STUDY BUDDY INTRO
		</p>

	{% endblock %}

	{% block aside %}
		{% if errors == True %}
	   		<p class="error">Sorry, that's not a valid username or password</p>
	  	{% endif %}
	  	
	    <form action="/auth/" method="post">{% csrf_token %}
	      <label for="username">Username:</label>
	      <br/>
	      <input type="text" name="username" value="" id="username">
	      <br/>
	      <label for="password">Password:</label>
	      <br/>
	      <input type="password" name="password" value="" id="password">
	      <br/>
	      <img id="signin" src="{% static "assets/img/SignButton.png" %}" alt="login"/>
	    </form>
		<a href="/">Forgot your password?</a><br/>		

		<br/>
	    <p>Not a User?</p>
	    <form action="/register/">
	    	<img id="register" src="{% static "assets/img/RegisterButton.png" %}" alt="Register"/> 
	    </form>
						
	{% endblock %}



