{% extends "base.html" %}
{% load static %}

	{% block title%} 
	{% endblock %}
	{% block nav %}
	{% endblock %}
	
	{% block article %}
		<h2>Need a study buddy?<h2/>
			<p id = "Intro"/>
			Study Buddy is a social networking site where students can meet and create study groups. Study Buddy was created primarily for University of Florida students to network, know each other, and help each other learn. 
		</p>

	{% endblock %}

	{% block aside %}
		{% if errors == True %}
	   		<p class="error">Sorry, that's not a valid username or password</p>
	  	{% endif %}
	  	
	    <form action="/auth/" method="post">{% csrf_token %}
	      <label for="username">Username:</label>
	      <br/>
	      <input type="text" name="username" value="" id="username" placeholder="Enter username">
	      <br/>
	      <label for="password">Password:</label>
	      <br/>
	      <input type="password" name="password" value="" id="password" placeholder="Enter password">
	      <br/>
	      <input type="image" id="button" src="{% static "assets/img/buttons/login-button03.png" %}" alt="login"/> 
	    </form>
	   <div class="links" id="forgot"><a href="/">Forgot your password?</a></div>		
	    <div class="links" id="notuser">Not a User?</div>
	    <form action="/register/">
         	<input type="image" id="button" src="{% static "assets/img/buttons/signup-button03.png" %}" alt="Register"/>  
	    </form>
						
	{% endblock %}



